body {
  text-align: center;
}
.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}
.message_user {
  margin-left: auto ;
  color: white ;
  text-align: left;
}

.message_userCard {
  background-color:#0b81ff !important;
}

.message_guestCard {
  background-color:#e9e9eb !important;
}

.app_form {
  /* padding: 20px; */
 position: fixed;
 bottom: 0;
 z-index: 1;
 background-color: #e9e9eb;
  width: 100%;
  /* margin: 20px; */
}


.app__formControl {
  display: flex!important;
  flex-direction: row!important;
  padding: 1rem!important;
  margin: 1rem!important;

}
.app__icon {
  flex: 0!important;
}

.app__input {
  flex: 1!important;
}